Repository donkeydluffy/plugds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, publish_extsystem_linuxgcc_x64, publish_extsystem_windowsvs2017_x64, publish_extsystem_windowsvs2022_x64, publish_extsystem_linuxgcc_arm64_cross_on_x64, publish_extsystem_android_cross_on_x64, publish_extsystem_macos_arm64_cross_on_x64, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

cppcheck:
  stage: check_code
  tags:
  - checkcode
  script:
  - ./check_code.bat
  - sonar-scanner -D"sonar.token=${SONAR_TOKEN}" -D"sonar.host.url=${SONAR_URL}" -D"sonar.projectVersion=$CI_COMMIT_SHA" -D"sonar.projectName=$CI_PROJECT_NAME" -D"sonar.projectKey=$CI_PROJECT_NAME"

publish_extsystem_linuxgcc_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - linux
  - gcc9
  - x64
  - docker
  script:
  ...

publish_extsystem_windowsvs2017_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - vs2017
  - x64
  - docker
  script:
  - conan remote disable conancenter
  ...

publish_extsystem_windowsvs2022_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - vs2022
  - x64
  - docker
  script:
  - conan remote disable conancenter
  ...

publish_extsystem_linuxgcc_arm64_cross_on_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - linux
  - gcc9
  - x64
  - docker
  - cross-arm64
  script:
  ...

publish_extsystem_android_cross_on_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - linux
  - gcc9
  - x64
  - docker
  script:
  ...

publish_extsystem_macos_arm64_cross_on_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - macos
  - clang17
  - arm64
  script:
  ...

publish_dscore_linuxgcc_x64:
  stage: build_and_package
  artifacts:
    when: on_failure
    paths:
    - ${CI_PROJECT_DIR}/build/
    expire_in: 1 day
  variables:
    PRODUCT_VERSION_FROM_CI: ${CI_COMMIT_TAG}
    PRODUCT_VERSION_REVISION_FROM_CI: ${CI_COMMIT_SHORT_SHA}
  tags:
  - linux
  - gcc9
  - x64
  - docker
  script:
  ...

refacotr: theme
  progress.txt
  src/dscore/MainWindow.cpp
  src/dscore/Theme.cpp
  src/dscore/ThemeService.cpp
  src/dscore/ThemeService.h
  src/dscore/dscore.qrc
  src/dscore/include/dscore/IThemeService.h
  src/dscore/include/dscore/Theme.h
  src/dscore/resources/icons/arrow_down.svg
  src/dscore/resources/themes/base.qss
  src/dscore/resources/themes/dark.ini
  src/dscore/resources/themes/dark.qss
  src/dscore/resources/themes/light.ini
  src/dscore/resources/themes/light.qss
  src/ws1/Ws1Component.cpp
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

refactor: center widget layout
  DESIGN_REPORT.md
  progress.txt
  src/dscore/CollapsibleWidget.cpp
  src/dscore/Core.cpp
  src/dscore/Core.h
  src/dscore/CoreComponent.cpp
  src/dscore/IMode.cpp
  src/dscore/IModeManager.cpp
  src/dscore/MainWindow.cpp
  src/dscore/MainWindow.h
  src/dscore/ModeManager.cpp
  src/dscore/ModeManager.h
  src/dscore/OverlayCanvas.cpp
  src/dscore/OverlayCanvas.h
  src/dscore/PageManager.cpp
  src/dscore/PageManager.h
  src/dscore/ThemeService.cpp
  src/dscore/WorkbenchLayout.cpp
  src/dscore/WorkbenchLayout.h
  src/dscore/include/dscore/CollapsibleWidget.h
  src/dscore/include/dscore/IMode.h
  src/dscore/include/dscore/IModeManager.h
  src/dscore/include/dscore/IPageManager.h
  src/dscore/include/dscore/IPageProvider.h
  src/dscore/include/dscore/IWorkbench.h
  src/dscore/include/dscore/Theme.h
  src/dscore/resources/themes/base.qss
  src/dscore/resources/themes/dark.ini
  src/dscore/resources/themes/light.ini
  src/extsystem/ComponentLoader.cpp
  src/ws1/Ws1Component.cpp
  src/ws1/Ws1Component.h
  src/ws1/Ws1Page.cpp
  src/ws1/Ws1Page.h
Due: cppcheck, publish_extsystem_linuxgcc_x64, publish_extsystem_windowsvs2017_x64, publish_extsystem_windowsvs2022_x64, publish_extsystem_linuxgcc_arm64_cross_on_x64, publish_extsystem_android_cross_on_x64, publish_extsystem_macos_arm64_cross_on_x64, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

feat: 整理菜单栏和工具栏
  src/dscore/Core.cpp
  src/dscore/Core.h
  src/dscore/CoreStrings.cpp
  src/dscore/MainWindow.cpp
  src/dscore/MainWindow.h
  src/dscore/ModeManager.cpp
  src/dscore/ModeSwitcher.cpp
  src/dscore/ModeSwitcher.h
  src/dscore/WorkbenchLayout.cpp
  src/dscore/WorkbenchLayout.h
  src/dscore/dscore.qrc
  src/dscore/include/dscore/CoreConstants.h
  src/dscore/include/dscore/CoreStrings.h
  src/dscore/include/dscore/ICore.h
  src/dscore/include/dscore/IWorkbench.h
  src/dscore/resources/icons/dark/app_preferences.svg
  src/dscore/resources/icons/dark/app_quit.svg
  src/dscore/resources/icons/dark/edit_copy.svg
  src/dscore/resources/icons/dark/edit_cut.svg
  src/dscore/resources/icons/dark/edit_paste.svg
  src/dscore/resources/icons/dark/file_new.svg
  src/dscore/resources/icons/dark/file_print.svg
  src/dscore/resources/icons/light/app_preferences.svg
  src/dscore/resources/icons/light/app_quit.svg
  src/dscore/resources/icons/light/edit_copy.svg
  src/dscore/resources/icons/light/edit_cut.svg
  src/dscore/resources/icons/light/edit_paste.svg
  src/dscore/resources/icons/light/file_new.svg
  src/dscore/resources/icons/light/file_print.svg
  src/ws1/Ws1Component.cpp
  src/ws1/resources/icons/dark/lang_en.svg
  src/ws1/resources/icons/dark/lang_zh.svg
  src/ws1/resources/icons/dark/theme_dark.svg
  src/ws1/resources/icons/dark/theme_light.svg
  src/ws1/resources/icons/light/lang_en.svg
  src/ws1/resources/icons/light/lang_zh.svg
  src/ws1/resources/icons/light/theme_dark.svg
  src/ws1/resources/icons/light/theme_light.svg
  src/ws1/ws1.qrc
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

feat: 添加ws1工作区图标
  src/ws1/Ws1Page.cpp
  src/ws1/resources/icons/dark/workspace1.svg
  src/ws1/resources/icons/light/workspace1.svg
  src/ws1/ws1.qrc
Due: cppcheck, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

feat: 增加菜单栏、工具栏、状态栏的provider
  src/dscore/CoreComponent.cpp
  src/dscore/CoreComponent.h
  src/dscore/CoreUIProvider.cpp
  src/dscore/CoreUIProvider.h
  src/dscore/MainWindow.cpp
  src/dscore/MainWindow.h
  src/dscore/include/dscore/ICommandProvider.h
  src/dscore/include/dscore/IMenuProvider.h
  src/dscore/include/dscore/IStatusbarProvider.h
  src/dscore/include/dscore/IToolbarProvider.h
  src/ws1/CMakeLists.txt
  src/ws1/Ws1Component.cpp
  src/ws1/Ws1Component.h
  src/ws1/Ws1UIProvider.cpp
  src/ws1/Ws1UIProvider.h
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

feat: 增加部分接口类
  LIFECYCLE_GUIDE.md
  src/app/main.cpp
  src/dscore/ActionProxy.cpp
  src/dscore/Command.cpp
  src/dscore/ContextManager.cpp
  src/dscore/ContextManager.h
  src/dscore/CoreComponent.cpp
  src/dscore/CoreComponent.h
  src/dscore/MainWindow.cpp
  src/dscore/MainWindow.h
  src/dscore/MenuAndToolbarManager.cpp
  src/dscore/MenuAndToolbarManager.h
  src/dscore/ModeManager.cpp
  src/dscore/WorkbenchLayout.h
  src/dscore/include/dscore/IContextManager.h
  src/ws1/Ws1Component.cpp
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

fix: menu
  src/dscore/CoreUIProvider.cpp
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64

feat: add ws2
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  src/dscore/OverlayCanvas.cpp
  src/dscore/include/dscore/IWorkbench.h
  src/ws2/CMakeLists.txt
  src/ws2/Ws2Component.cpp
  src/ws2/Ws2Component.h
  src/ws2/Ws2Page.cpp
  src/ws2/Ws2Page.h
  src/ws2/Ws2UIProvider.cpp
  src/ws2/Ws2UIProvider.h
  src/ws2/conanfile.py.in
  src/ws2/metadata.json
  src/ws2/resources/i18n/ws1_zh_CN.ts
  src/ws2/resources/icons/dark/action_play.svg
  src/ws2/resources/icons/dark/action_stop.svg
  src/ws2/resources/icons/dark/sample.svg
  src/ws2/resources/icons/dark/workspace2.svg
  src/ws2/resources/icons/light/action_play.svg
  src/ws2/resources/icons/light/action_stop.svg
  src/ws2/resources/icons/light/sample.svg
  src/ws2/resources/icons/light/workspace2.svg
  src/ws2/user_config.cmake
  src/ws2/version.rc.in
  src/ws2/ws2.qrc
  src/ws2/ws2Config.cmake.in
  subprojects_params.json
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64

chore: delete some unused thing
  CLAUDE.md
  src/dscore/MainWindow.h
  src/dscore/MainWindow.ui
  src/dscore/README.md
  src/dscore/metadata.json
  src/ws1/metadata.json
  src/ws2/metadata.json
Due: publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

feat: add cpu/mem statusbar widget
  CMakeLists.txt
  src/dscore/CoreUIProvider.cpp
  src/dscore/CoreUIProvider.h
  src/dscore/SystemMonitorWidget.cpp
  src/dscore/SystemMonitorWidget.h
  src/tests/CMakeLists.txt
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64

chore: language
  src/app/SplashScreen.cpp
  src/app/main.cpp
  src/dscore/CollapsibleWidget.cpp
  src/dscore/CoreComponent.cpp
  src/dscore/CoreUIProvider.cpp
  src/dscore/LanguageService.cpp
  src/dscore/MainWindow.cpp
  src/dscore/SystemMonitorWidget.cpp
  src/dscore/ThemeService.cpp
  src/dscore/WorkbenchLayout.cpp
  src/extsystem/ComponentLoader.cpp
  src/ws1/Ws1Component.cpp
  src/ws2/Ws2Component.cpp
  src/ws2/Ws2Page.cpp
Due: cppcheck, publish_extsystem_linuxgcc_x64, publish_extsystem_windowsvs2017_x64, publish_extsystem_windowsvs2022_x64, publish_extsystem_linuxgcc_arm64_cross_on_x64, publish_extsystem_android_cross_on_x64, publish_extsystem_macos_arm64_cross_on_x64, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

chore: 删除部分无用代码
  src/dscore/Command.cpp
  src/dscore/MainWindow.h
  src/dscore/MainWindow.ui
  src/dscore/MenuAndToolbarManager.cpp
  src/dscore/OverlayCanvas.h
  src/dscore/ThemeService.cpp
  src/dscore/ThemeService.h
  src/dscore/WorkbenchLayout.h
  src/ws1/Ws1Component.cpp
  src/ws1/Ws1Page.cpp
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

feat: 多语言
  src/dscore/CoreStrings.cpp
  src/dscore/LanguageService.cpp
  src/dscore/SystemMonitorWidget.cpp
  src/dscore/include/dscore/CoreStrings.h
  src/dscore/include/dscore/ILanguageService.h
  src/dscore/resources/i18n/dscore_zh_CN.ts
  src/ws1/Ws1Page.cpp
  src/ws1/Ws1Page.h
  src/ws1/Ws1Strings.cpp
  src/ws1/Ws1UIProvider.cpp
  src/ws1/include/ws1/Ws1Strings.h
  src/ws1/resources/i18n/ws1_zh_CN.ts
  src/ws2/Ws2Page.cpp
  src/ws2/Ws2Page.h
  src/ws2/Ws2Strings.cpp
  src/ws2/Ws2UIProvider.cpp
  src/ws2/include/ws2/Ws2Strings.h
  src/ws2/resources/i18n/ws1_zh_CN.ts
  src/ws2/resources/i18n/ws2_zh_CN.ts
Due: cppcheck, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

chore: some translate
  src/app/main.cpp
  src/dscore/ActionContainer.cpp
  src/dscore/ActionProxy.cpp
  src/dscore/Command.cpp
  src/dscore/ContextManager.h
  src/dscore/CoreStrings.cpp
  src/dscore/CoreUIProvider.cpp
  src/dscore/LanguageService.cpp
  src/dscore/MainWindow.cpp
  src/dscore/MenuAndToolbarManager.cpp
  src/dscore/ModeManager.cpp
  src/dscore/ModeManager.h
  src/dscore/ModeSwitcher.cpp
  src/dscore/SystemMonitorWidget.h
  src/dscore/ThemeService.h
  src/dscore/WorkbenchLayout.h
  src/dscore/include/dscore/CoreConstants.h
  src/dscore/include/dscore/CoreStrings.h
  src/dscore/include/dscore/IConfiguration.h
  src/dscore/include/dscore/ICore.h
  src/dscore/include/dscore/IStatusbarManager.h
  src/dscore/include/dscore/IWorkbench.h
  src/dscore/resources/i18n/dscore_zh_CN.ts
  src/extsystem/ComponentLoader.cpp
  src/tests/dscore/test_command_manager.cpp
  src/tests/dscore/test_context_manager.cpp
  src/tests/dscore/test_language_service.cpp
  src/tests/dscore/test_menu_and_toolbar_manager.cpp
  src/tests/dscore/test_mode_manager.cpp
  src/tests/dscore/test_statusbar_manager.cpp
  src/tests/dscore/test_theme.cpp
  src/tests/dscore/test_theme_service.cpp
  src/tests/extsystem/test_component_loader.cpp
  src/tests/extsystem/test_component_manager.cpp
  src/ws1/Ws1Page.cpp
  src/ws1/Ws1UIProvider.cpp
  src/ws2/Ws2Page.cpp
  src/ws2/Ws2UIProvider.cpp
Due: cppcheck, publish_extsystem_linuxgcc_x64, publish_extsystem_windowsvs2017_x64, publish_extsystem_windowsvs2022_x64, publish_extsystem_linuxgcc_arm64_cross_on_x64, publish_extsystem_android_cross_on_x64, publish_extsystem_macos_arm64_cross_on_x64, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

chore: log整理
  src/app/main.cpp
  src/dscore/ContextManager.cpp
  src/dscore/Core.cpp
  src/dscore/CoreComponent.cpp
  src/dscore/MenuAndToolbarManager.cpp
  src/dscore/ModeManager.cpp
  src/dscore/ThemeService.cpp
  src/extsystem/ComponentLoader.cpp
  src/ws1/Ws1Page.cpp
  src/ws2/Ws2Page.cpp
Due: cppcheck, publish_extsystem_linuxgcc_x64, publish_extsystem_windowsvs2017_x64, publish_extsystem_windowsvs2022_x64, publish_extsystem_linuxgcc_arm64_cross_on_x64, publish_extsystem_android_cross_on_x64, publish_extsystem_macos_arm64_cross_on_x64, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

chore: log to english
  src/app/SplashScreen.cpp
  src/app/main.cpp
  src/dscore/CoreComponent.cpp
  src/dscore/LanguageService.cpp
  src/dscore/ModeManager.cpp
  src/dscore/ThemeService.cpp
  src/extsystem/ComponentLoader.cpp
  src/ws1/Ws1Component.cpp
  src/ws1/resources/icons/dark/workspace1.svg
  src/ws1/resources/icons/light/workspace1.svg
  src/ws2/Ws2Component.cpp
  src/ws2/Ws2Page.cpp
  src/ws2/resources/icons/dark/workspace2.svg
  src/ws2/resources/icons/light/workspace2.svg
Due: cppcheck, publish_extsystem_linuxgcc_x64, publish_extsystem_windowsvs2017_x64, publish_extsystem_windowsvs2022_x64, publish_extsystem_linuxgcc_arm64_cross_on_x64, publish_extsystem_android_cross_on_x64, publish_extsystem_macos_arm64_cross_on_x64, publish_dscore_linuxgcc_x64, publish_dscore_windowsvs2017_x64, publish_dscore_windowsvs2022_x64, publish_dscore_linuxgcc_arm64_cross_on_x64, publish_dscore_android_cross_on_x64, publish_dscore_macos_arm64_cross_on_x64, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

docs: add architect doc
  architect.md
Due: none

feat: 添加一个squeeze Widget
  src/ws1/Ws1Page.cpp
  src/ws1/Ws1Page.h
Due: cppcheck, publish_ws1_linuxgcc_x64, publish_ws1_windowsvs2017_x64, publish_ws1_windowsvs2022_x64, publish_ws1_linuxgcc_arm64_cross_on_x64, publish_ws1_android_cross_on_x64, publish_ws1_macos_arm64_cross_on_x64

docs: update architect
  DESIGN_REPORT.md
  architect.md
Due: none

docs: update
  architect.md
Due: none

Path conditions:
  cppcheck: (any of: src/**/*.cpp) or ((any of: src/**/*.cc) or (any of: src/**/*.cxx))
  publish_extsystem_linuxgcc_x64: any of: src/extsystem/**
  publish_extsystem_windowsvs2017_x64: any of: src/extsystem/**
  publish_extsystem_windowsvs2022_x64: any of: src/extsystem/**
  publish_extsystem_linuxgcc_arm64_cross_on_x64: any of: src/extsystem/**
  publish_extsystem_android_cross_on_x64: any of: src/extsystem/**
  publish_extsystem_macos_arm64_cross_on_x64: any of: src/extsystem/**
  publish_dscore_linuxgcc_x64: any of: src/dscore/**
  publish_dscore_windowsvs2017_x64: any of: src/dscore/**
  publish_dscore_windowsvs2022_x64: any of: src/dscore/**
  publish_dscore_linuxgcc_arm64_cross_on_x64: any of: src/dscore/**
  publish_dscore_android_cross_on_x64: any of: src/dscore/**
  publish_dscore_macos_arm64_cross_on_x64: any of: src/dscore/**
  publish_ws1_linuxgcc_x64: any of: src/ws1/**
  publish_ws1_windowsvs2017_x64: any of: src/ws1/**
  publish_ws1_windowsvs2022_x64: any of: src/ws1/**
  publish_ws1_linuxgcc_arm64_cross_on_x64: any of: src/ws1/**
  publish_ws1_android_cross_on_x64: any of: src/ws1/**
  publish_ws1_macos_arm64_cross_on_x64: any of: src/ws1/**
